.form-login{
	border:1px solid #46EBEA;
	padding: 1.5rem;
	border-radius: 6px;
}
.form-row input,
.input{
	margin-bottom: 1.5rem;
	border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
	box-shadow: unset;
	border-bottom: 1px solid #46EBEA;
	border-radius: 0;
	width: 90%;
	margin-left: 0%;
}

.mb-4{
	margin-bottom: 1.5rem;
}

.form-row .botao,
.botao{
	width: 25%;
	background-color: antiquewhite;
	font-weight: 700;
}

.btn-outline-dark:hover{
	background-color: #46EBEA;
}

.my-4{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

table{
	background-color: rgba(255, 209, 195, .6);
	border: 1px dashed black;
}	

.mt-40{
    margin-top:40%;
}

.card{
    border:unset;
}
.pl-6{
    padding-left:6%;
}